
.image{
	width: 200px;
	text-align: center;	

}
.info{	
	 padding: 20px;
	 padding-top: 10px;
	width: 40%;
	margin: 0 auto;	
	background: white;
}
.blockPhoto{
	text-align: center;	

}
.name{
	text-align: center;
}
.text{
   
	margin:10px;
}
