.info{	
	padding: 20px;
	padding-top: 10px;
	width: 40%;
	margin: 0 auto;
	background: white;
	border: 1px solid #000;
}

.image{
	width: 150px;
	text-align: center;	
}

.blockPhoto{
	text-align: center;	
}

.name{
	text-align: center;
}

.text{ 
	margin:10px;
}
.colortext{
	color:blue;
}
